.cartPage {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height to allow proper layout */
}
.cartList-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 100%;
}
.cartTotalBar {
    background:#121239!important; 
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 14px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.08);
    z-index: 10;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    font-weight: 500;
}
@media (max-width: 600px) {
.css-46bh2p-MuiCardContent-root:last-child {
    padding-bottom: 0px !important;
}
.css-46bh2p-MuiCardContent-root {
    padding: 0px !important
}
.cart-text{
    font-size: 1rem !important;
}
}
